@model Project.Genius.Web.ViewModels.ModuleViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-todo">
    <div class="col-lg-3 col-md-4 col-sm-12 tasks" id="modules">
        @Html.Partial("_Modules")
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 tasks" id="moduleTypes">
        @Html.Partial("_ModuleTypes")
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 tasks" id="productVersions">
        @Html.Partial("_ProductVersions")
    </div>
    <div class="col-md-8 col-lg-9 tasks" id="detailsWrapper" style="display: none;">
        @* Details goes here *@
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/pages/todo")
}