@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<ol class="breadcrumb">
    @foreach (var node in Model.Nodes)
    {
        if (node != Model.Last())
        {
            <li class=@(node.IsCurrentNode ? "active" : "")>
                <a href=@node.Url>
                    <i class="fa @node.Attributes["fa"].ToString()"></i>
                    @node.Title
                </a>
            </li>
        }
        else
        {
            <li class=@(node.IsCurrentNode ? "active" : "")>
                @node.Title
            </li>
        }
    }
</ol>