body {
    font-size: 13px !important;
}

.bg-black {
    background-color: #222222 !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.modules tr > th {
    width: 150px !important;
    background-color: #EEE !important;
}

.todo ul li {
    font-size: 13px;
}

.editable-click {
    border-bottom: none !important;
}

.editable-input > input {
    height: 20px !important;
    width: 250px !important;
}

.editable-input > select {
    height: 20px !important;
    width: 150px !important;
}