body {
    font-size: 13px !important;
}

.bg-black {
    background-color: #222222 !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.modules tr > th {
    background-color: #EEE !important;
}

.todo ul li {
    font-size: 13px;
}

.page-todo .task-list {
    padding: 15px 15px !important;
}

.editable-input > input {
    height: 20px !important;
    width: 250px !important;
}

.editable-input > select {
    height: 20px !important;
    width: 150px !important;
}

.form-control {
    padding: 0;
    font-size: 13px;
    height: 28px;
}

.control-label {
    padding-top: 5px !important;
}

.modal {
    overflow-y: hidden;
}