body {
    font-size: 13px !important;
}

.bg-black {
    background-color: #222222 !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.modules tr > th {
    background-color: #EEE !important;
}

.todo ul li {
    font-size: 13px;
}

.page-todo .task-list {
    padding: 15px 15px !important;
}

/*.inbox .message,
.inbox .messages {
    margin: -30px 0 -30px 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    content: "";
}*/

.editable-input > input {
    height: 20px !important;
    width: 250px !important;
}

.editable-input > select {
    height: 20px !important;
    width: 150px !important;
}

.form-control {
    padding: 0;
    font-size: 13px;
    height: 28px;
}

.control-label {
    padding-top: 5px !important;
}

.modal {
    overflow-y: hidden;
}

.modal-footer {
    margin-top: -15px;
}

ol li .remove {
    /*display: none;*/
    position: absolute;
    right: 10px;
    color: #b2b8bd;
}